.CurrentWeather {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 39.8em) {
  .CurrentWeather {
    justify-content: space-between;
    padding: 0 min(4vw, 4rem) 0 min(4vw, 4rem);
  }
}
