.Forecast {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.Forecast-tileContainer {
  display: flex;
  flex-direction: column;
  overflow: auto hidden;
}

@media only screen and (min-width: 39.8em) {
  .Forecast {
    padding: min(4vw, 4rem) min(4vw, 4rem) 3rem min(4vw, 4rem);
  }

  .Forecast > .Weekday {
    padding: min(5vw, 2rem) 0;
  }

  .Forecast-tileContainer {
    flex-direction: row;
  }
}
